<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WebViewRequestCapture.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WebViewRequestCapture.Properties.Settings>
            <setting name="APP_Title" serializeAs="String">
                <value />
            </setting>
            <setting name="API_Key" serializeAs="String">
                <value />
            </setting>
            <setting name="API_Port" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Start_Page" serializeAs="String">
                <value>https://github.com/ricardocrescenti</value>
            </setting>
            <setting name="URL_Filter" serializeAs="String">
                <value />
            </setting>
            <setting name="Mime_Type_Filter" serializeAs="String">
                <value>application/json</value>
            </setting>
            <setting name="Auto_Refresh" serializeAs="String">
                <value>0</value>
            </setting>
        </WebViewRequestCapture.Properties.Settings>
    </userSettings>
</configuration>